#version {
	position: absolute;
	width: 100%;
	text-align: center;
	
}

@media (min-width: 1152px) {
	#version {
		bottom: 20px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	#version {
		bottom: 10px;
	}
}
